body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  display: flex;
}

.todo-container {
  width: 600px;
  margin: 50px auto;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#todo-input {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#add-button {
  padding: 10px 15px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#add-button:hover {
  background-color: #218838;
}

#todo-list {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.todo-lists {
  display: flex;
  justify-content: space-between;
}

.todo-column {
  width: 45%;
  padding: 10px;
  border-radius: 5px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button.todo-action {
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

button.complete {
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: white;
}

button.complete:hover {
  background-color: #218838;
}

button.delete {
  border: none;
  border-radius: 5px;
  background-color: #dc3545;
  color: white;
}

button.delete:hover {
  background-color: #c82333;
}
